* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 36px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.square {
  width: 400px;
  height: 400px;
  display: grid;
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  border-radius: 0.25rem;
  place-content: center;
}
.square p {
  text-align: center;
}


input {
  margin-top: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  font-size: 1rem;
  box-shadow: 2px 2px 5px black;
  border-radius: 0.25rem;
  outline: none;
}

input p{
  margin-left: 100px;
}

form {
  width: 400px;
}
label {
  position: absolute;
  left: -999999px;
}

button {
  margin-top: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  font-size: large;
  box-shadow: 2px 2px 5px black;
  border-radius: 0.25rem;
  outline: none;
}